<h1 class=jumbotron>Define Time</h1>

<h2>Defintion: <%= @definition.written %></h2>

<form action="/words/<%= @definition.word_id %>/definitions/<%= @definition.id %>" method="post">
  <input type="hidden" name="_method" value="patch">

  <label for="definition">Edit definition</label>
  <input id="definition" name="definition" type="text">

  <button type="submit">Update definition</button>
</form>



<a href="/words/<%= @definition.word_id %>">Back to word</a>
