<h1>Define Time</h1>

<h1>Update <%= @word.name() %></h1>

<form action="/words/<%= @word.id() %>" method="post">
  <input name="_method" type="text" value="patch">

  <label for="name">Update name</label>
  <input id="name" name="name" type="text">

  <label for="definition">Update definition</label>
  <input id="definition" name="definition" type="text">

  <button type="submit">Update</button>
</form>

<p><a href="/words">Return to vocabulary list</a></p>

<form action="/words/<%= @word.id() %>" method="post">
  <input name="_method" type="text" value="delete">

  <button type="submit">Delete word</button>
</form>
