<h1>Define Time</h1>

<h3>Saved Words</h3>

<% if @words.any? %>
  <ul>
    <% @words.each do |word| %>
      <li><%= word.name %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are currently no words to display.</p>
<% end %>

<br>
<br>

<a href="/words/new">Add a word</a>
